<div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.lt-md="column" fxLayoutAlign.lt-md="space-between stretch"> 
    <div class="container" >
        <button [routerLink]="['']" routerLinkActive="router-link-active">Home</button>
    </div>
    <div class="container" >
        <button [routerLink]="['/row-example']" routerLinkActive="router-link-active">Row</button>
    </div>
    <div class="container">
        <button [routerLink]="['/column-example']" routerLinkActive="router-link-active">Column</button>
    </div>    
</div>
